* {
  font-family: Poppins !important;
  overflow-x: hidden !important;
}

html {
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100% !important;
  width: 100% !important;
  // zoom: 0.85 !important;
}

body {
  min-height: 100vh !important;
  width: 100% !important;
}

// Titles
.food_selection_category_title {
  overflow-y: hidden !important;
}

// Container
.container-fluid {
  padding: 0 !important;
}

// Card
.card {
  border-radius: 0 !important;

  img.brand-img {
    height: 100px !important;
    width: 100px !important;
  }
}

// Food Menu
.menu_container {
  min-height: 100vh !important;
  background-color: #fcfcfc !important;

  .left_container,
  .right_container {
    min-height: 100vh !important;
  }

  .left_container {
    background-color: #fff !important;
    border-right: solid 1px #f1f1f1 !important;
    padding: 2rem !important;

    img {
      height: 100px !important;
      width: 100px !important;
    }

    .food_preview_container {
      padding: 0 1rem !important;
      margin-top: 5rem !important;
      height: 70% !important;
      width: 100% !important;
      display: flex;
      align-items: center;

      .food_preview {
        border-radius: 0.25rem !important;
        display: flex;
        align-items: center;
        height: 100% !important;
        margin: 0 auto !important;

        img {
          height: 200px !important;
          width: 200px !important;
          border-radius: 7px !important;
          margin-bottom: 2rem !important;
        }

        .title,
        .description,
        .price {
          color: #666 !important;
          font-size: 14px !important;
          margin-top: 0.75rem !important;
        }

        .quantity_input {
          height: 40px !important;

          input {
            height: 40px !important;
            font-size: 0.85rem !important;
            text-align: center !important;
          }
        }
      }
    }
  }

  .right_container {
    padding: 2rem !important;

    .food_selection_container {
      padding-top: 2rem !important;

      h3.food_selection_category_title {
        color: #ffa552 !important;
        font-weight: bold !important;
        margin: 2rem 0 !important;
      }

      .food_selection_grid {
        display: flex;
        padding-bottom: 2rem !important;
        margin-top: 2rem !important;
        overflow-x: auto !important;

        .food_card {
          border: 0 !important;
          border-radius: 8px !important;
          padding: 0.75rem 0 !important;

          img {
            width: 100% !important;
            max-height: 200px !important;
            border-radius: 7px !important;
          }

          .title,
          .description,
          .price {
            color: #666 !important;
            font-size: 14px !important;
            margin-top: 0.75rem !important;
          }

          .description {
            font-size: 12px !important;
          }
        }
      }
    }
  }
}
